
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
    }

h1 {
    text-align: center;
}

.container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
}
.box {
      width: 200px;
      background-color: white;
      text-align: center;
}
/* 🔹 1. Caixa básica */
.box1 {

    width: 250px;
    height: 100px;
    border: 3px, solid black;

}

/* 🔹 2. Com padding */
.box2 {
    width: 300px;
    height: 50px;
    padding: 25px;
    border: 3px, solid blue;
}

/* 🔹 3. Com margin */
.box3 {
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    margin: 20px;
    border: 3px, solid green;
}

/* 🔹 4. Completa (margin + padding + border) */
.box4 {
    width: 300px;
    height: 100px;
    margin: 40px;
    padding: 20px;
    border: 5px, solid red;
}

/* 🔹 5. Com tamanhos diferentes */
.box5 {
    width: 400px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border: 3px, dashed purple;
}

/* 🔹 6. Box-sizing (diferença importante) */
.box6 {
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 5px, solid orange;
}

.titulo {
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    color: #555;
}